# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React
build/
dist/
*.env

# IDE/Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# Testing
coverage/

# Build system
.DS_Store
Thumbs.db